<!DOCTYPE html>
<html>
    <head>
        <title>BlogOficial</title>
        <%= stylesheet_link_tag 'poster', :media => 'all' %>
    </head>
    <body>
        <div id="conteudo">
            <div id="cabecalho">
                <%= link_to "Home", {:controller => "poster", :action => "home"}, class: 'hm' %>
                <%= link_to "Postagens", {:controller => "poster", :action => "post"}, class: 'ps' %>
                <%= link_to "Sobre Nós", {:controller => "poster", :action => "sobrenos"}, class: 'sn' %>
            </div>
            <div id="corpo">
                <% for post in @post %>
                    <%= link_to post.title, {:controller => "poster", :action => "post"}, class: 'ln' %>
                    <%= image_tag(post.image_url.to_s) %>
                    <p class="text"><%= post.text %></p>
                <% end %>
            </div>
            <div id="rodape">
                © 2022 BlogOficial - Todos os direitos reservados
            </div>
        </div>
    </body>
</html>
